.FilmEditor {
  width: 100%;
  max-width: 600px;
  padding: 16px;
  margin: 16px auto;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.FilmEditor__field {
  font-size: 14px;
  width: 100%;
  resize: none;
  margin: 1px auto;
  font-weight: 500;

  &:focus {
    outline: 0;
  }
}

.FilmEditor__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FilmEditor__errorMessage {
  color: #ff1215;
}

.FilmEditor__button {
  border: 0 none;
  border-radius: 24px;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  text-align: center;
  line-height: 1.3;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  background: #3ac569;

  &:hover {
    opacity: .9;
    transition: all 100ms ease;
  }

  &:active {
    opacity: .75;
    transform: scale(.97);
    transition: all 100ms ease;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: .35;
    cursor: default;
  }
}